{% extends "base.html" %}

{% block content %}
    <div class="accordion" id="accordionExample">
        {% for league in leagues %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-{{ league.id }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ league.id }}" aria-expanded="true" aria-controls="collapse-{{ league.id }}">
                        {{ league.name }} ({{league.abbr}})
                    </button>
                </h2>
                <div id="collapse-{{ league.id }}" class="accordion-collapse collapse show" aria-labelledby="heading-{{ league.id }}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% for team in league.teams %}
                            <li>{{ team.name }} ({{team.abbr}})</li>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}